// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$lato-font:"Lato", sans-serif;
body{
    color: #f5f8fa;
    width: 100%;
}
$bg:rgb(221, 248, 238);
$bg2:rgba(201, 201, 206, 0.849);
$bg3:rgb(6, 41, 10);
$text-color1:rgb(6, 41, 10);
$text-color3:rgb(242, 250, 247);
$text-color2:rgb(2, 6, 8);
$primary-color:rgb(4, 4, 37);

$sm:37.5em;
$md:48em;
$lg:64em;
$xl:75em;

@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
// $sm:400px;
// $md:768px;
// $lg:1200px

@mixin breakpoint($point){
        @media (min-width: $point){
            @content;
        }
    }

@mixin breakpoint($point){
        @media (min-width:$point){
            @content;
        }
    }
@mixin breakpoint($point){
        @media (min-width: $point){
            @content;
        }
    }


// @mixin respond($breakpoint) {
//     @media (min-width: $breakpoint) {
//       @content;
//     }
//   }

//   .container {
//     width: 100%;
//     @include respond(768px) {
//       width: 50%;
//     }
//   }
  
  