
@import "../../styles/_variables.scss"; 
.hide{
  display: none;
}
// .show{
//   display: flex;
// }

  aside{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:20px auto;
    padding-bottom: 20px ;
    height: max-content;
    transition: 3s ease left;
    left: 0;
    position: absolute;
    top: 65px;
    z-index: 10;
    background-color: white;
    div{
      display: block;
      width: 70%;
  
    div{
      display: flex;
      flex-direction: row;
      width: 95%;
      gap: 15px;
      // margin-top: 15px;
      margin:15px auto;
      
        input{
          outline: none;
          border: none;
          padding: 7px ;
          background-color: $bg;
          border-radius: 10px;
          box-shadow: $box-shadow2;
          width: 65%;
  
        }
  
        p{
          font-size: 14px;
          margin-top: 5px;
          width: 30%;
        }
       
      // }
      
    }
    }
    .searchBtn{
      cursor: pointer;
      margin-top: 45px;
    }
  
    ul{
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: auto;
      border-radius: 10px;
      border-left: 3px solid $bg3;
      margin-top: 10px;
      margin-left: 20px;
      li{
        list-style: none;
        margin-top: 20px;
        a{
          text-decoration: none;
          margin-left: 3px;
          &:hover{
            background-color: $bg3;
            color: $text-color3;
            padding: 3px;
            border-radius: 6px;
          }
        }
        select{
          border: none;
          background-color: white;
          font-size: 16px;
          outline: none;
        }
      }
    }
    @media (min-width: 576px) {
      // display: none;
    }
    @media (min-width: 768px) {
      display: none;
      .filter{
        display: none;
      }
    }
     @media (min-width: 1100px) {
      display: none;
     
  
    }
  
  
  }

.searchbar{

  @include flex;
  width: 95%;
  gap: 20px;
  padding:4px 0;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  input{
    border: 1px solid rgb(201, 199, 199);
    padding:2px 7px !important;
    border-radius: 10px;
    outline: none;
    width: 50%;
  }
  .search{

    // margin-top: 20px;
    background-color: white;
    border: 2px solid $bg3;
    padding: 3px 15px;
    border-radius: 7px;
    color: $text-color1;
  }
  .filter{
    background-color: $bg3;
    border: none;
    padding: 3px 25px;
    border-radius: 7px;
    // color: white !important;
    svg{
      color: white !important;
      width: 25px;
      height: 25px;
      margin-top: 2px;
  
      polygon{
        color: white !important;
        
    }
    path{
      color: white !important;
      
  }
    }
   
  }
  @media (min-width: 600px) {
    display: none;
   
  }
}
.searchContainer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // flex-direction: column;
  width: 55% !important;
  margin-left: 20px;
  gap: 5px;
  
  div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    // width: 22%;

    div{
      @include flex;
      // gap: 20px;
      width: 100%;
      // background-color: $bg2;
      margin-top: 20px;
      padding-left: 15px;
      border: 1px solid grey;
      border-radius: 10px;
      
      .inputIcon{
        margin-top: 5px;
      }
      input{
        outline: none;
        border: none;
        padding: 7px ;
        background-color: $bg;
        border-radius: 10px;
      }
     
    }

    p{
      margin-bottom: -15px;
    }
    
  }
  .searchBtn{
    cursor: pointer;
    width: max-content;
    margin-top: 45px;
    border: none;
    background-color: $bg;
    padding: 7px;

   
  }

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100% !important;
    margin: auto;
    padding:  20px;
    gap: 10px;
  
    div{
      display: flex;
      flex-direction: column;
      // width: 22%;
  
      div{
        @include flex;
        gap: 20px;
        width: 100%;
        // background-color: $bg2;
        margin-top: 20px;
        padding-left: 15px;
        border: 1px solid grey;
        border-radius: 10px;
        
        .inputIcon{
          margin-top: 5px;
        }
        input{
          outline: none;
          border: none;
          padding: 7px 0;
          background-color: $bg;
          border-radius: 10px;
        }
       
      }
      
    }
    .searchBtn{
      cursor: pointer;
      // margin-top: 45px;
      width: max-content;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100% !important;
    margin:0 auto !important;
    padding: 20px;
    gap: 20px;
  
    div{
      display: flex;
      flex-direction: column;
      // width: 22%;
  
      div{
        @include flex;
        gap: 20px;
        width: 100%;
        // background-color: $bg2;
        margin-top: 20px;
        padding-left: 15px;
        border: 1px solid grey;
        border-radius: 10px;
        
        .inputIcon{
          margin-top: 5px;
        }
        input{
          outline: none;
          border: none;
          padding: 7px ;
          background-color: $bg;
          border-radius: 10px;
        }
       
      }
      
    }
    button{
      cursor: pointer;
      margin: 0 auto;
      margin-top: 5px;
      border: none;

      
    }
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90% !important;
    margin: auto;
    padding: 30px 20px;
    gap: 30px;
  
    div{
      display: flex;
      flex-direction: column;
      // width: 22%;
  
      div{
        @include flex;
        gap: 20px;
        width: 100%;
        // background-color: $bg2;
        margin-top: 20px;
        padding-left: 15px;
        border: 1px solid grey;
        border-radius: 10px;
        
        .inputIcon{
          margin-top: 5px;
        }
        input{
          outline: none;
          border: none;
          padding: 7px 0;
          background-color: $bg;
          border-radius: 10px;
        }
       
      }
      
    }
    .searchBtn{
      cursor: pointer;
      // size: 40px;
      margin-top: 45px;
    }
  }
}
.productsContainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  // padding: 30px;
  margin: 0 auto;

  &_div{
// width: 50%;
margin-top: 25px;
.add-to-cart{
  background-color: rgb(29, 51, 29) ;
  padding:5px 8px ;
  border: none;
  border-radius: 8px ;
  color: white ;
  width: 70% ;
  font-size: 14px ;
  margin:10px auto;

  @media (min-width: 600px) {
    font-size: 18px ;

  }
}    
.productDetails{
  height: 100px;
  font-size: 14px ;


  @media (min-width: 600px) {
    font-size: 18px ;

  }
}
    div{
        border-radius: 10px;
        width: 90%;

        img{
            width: 100%;
            height: 170px;
            border-radius: 10px;
            object-position: center center;
        }
    }
  }
  .wish{
    size: 18px;
    position: relative;
    top: 30px;
    left: 100px;

    @media (min-width: 400px) {
      size: 18px;
      position: relative;
      top: 30px;
      left: 140px;
    }
    
  }
  .wish:hover{
    background-color: rgb(25, 190, 25);
    color: white;
    border-radius: 100%;
    width: 20px;
  }
  .productElement{
    position: relative;
    top: 130px;
    // align-items: center;
    background-color: aliceblue;
    font-size: 16px;
    text-align: center;
    // width: max-content;
    padding: 5px 0;
    margin: auto;

    
  }
  .hideProductIcons{
    display: none;
    visibility: hidden;
  }
  .showProductIcons{
    display: block;
  }
  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);

     .wish{
    size: 18px;
    position: relative;
    top: 30px;
    left: 200px;
  }
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3,1fr);
 .wish{
    size: 18px;
    position: relative;
    top: 30px;
    left: 160px;
  }
  }
  @media (min-width: 1100px) {
    grid-template-columns: repeat(4,1fr);

    .wish{
    size: 18px;
    position: relative;
    top: 30px;
    left: 230px;
  }
  

  }

  }
  .listing-container{
    width: 96%;
    @include flex;
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: auto;
    flex-wrap: wrap;
    
  
    section{
        border-radius: 10px;
      .cover{
        // width: 48%;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100px;
        align-items: center;
        margin-top: 30px;
        width: 110px;
        border-radius: 10px;
        p{
          background-color: rgba(0, 0, 0,0.5);
          height: 100%;
          align-content: center;
          text-align: center;
          color: white ;
          font-size: 14px;
        }
      
        @media (min-width: 768px) {
          height: 170px;
      
          p{
            font-size: 16px;
          }
      
        }
      }
    }
  }
  h3{
    margin:20px auto;
    font-size: 14px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 16px;
  
    }
  
}
.close{
  background-image: none;
  height: max-content;
}

.listing{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}